<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and display its,
     - Head
     - Tail
     - Index 
     - Columns
     - Values
     - statistics

In [27]:
#please type your answer below this line.
import pandas as pd
import numpy as np
dates = pd.date_range('today', periods=6)
num_arr = np.random.randn(6,6)
df = pd.DataFrame(num_arr, index=dates, columns=['A','B','C','D','E','F'])
print("Head\n",df.head())
print('\nTail\n',df.tail())
print('\nIndex\n',df.index)
print('\nColumns\n',df.columns)
print('\nValues\n',df.values)
print('\nStatistics\n',df.describe)

Head
                                    A         B  ...         E         F
2021-09-03 16:14:37.713060 -1.892565  1.524449  ... -1.352800  0.640516
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086

[5 rows x 6 columns]

Tail
                                    A         B  ...         E         F
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086
2021-09-08 16:14:37.713060 -0.634486 -0.165279  ...  0.745678  0.385819

[5 rows x 6 columns]

Index
 DatetimeIndex(['2021-09-03 16:14:37.713060', '2021-09-04 16:14:37.713060',
               '2021-09-05 16:14:37.713060', '2021-09-06 16:14:37.713060',
               '2021-09-07 16:14:37.713060', '2021-09-08 16:14:37.713060'],
              dtype='datetime64[ns]', freq='D')

Columns
 Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

Values
 [[-1.89256475  1.52444885 -1.86673422  1.44272703 -1.35279971  0.64051552]
 [-0.0295077  -0.07745309  0.19061733 -0.03035396 -0.62927204  1.54845794]
 [-1.10437682  0.0363517  -0.69139039  1.04743983  0.45690699  1.06154435]
 [ 1.07708187  1.4493241  -1.18569486 -0.17013928  0.94266904 -0.8569748 ]
 [-0.34070128  0.14604841  0.80082091  1.63394585 -0.37241239  0.63108573]
 [-0.63448605 -0.1652786  -0.86220788  0.64063736  0.74567817  0.38581927]]

Statistics
 <bound method NDFrame.describe of                                    A         B  ...         E         F
2021-09-03 16:14:37.713060 -1.892565  1.524449  ... -1.352800  0.640516
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086
2021-09-08 16:14:37.713060 -0.634486 -0.165279  ...  0.745678  0.385819

[6 rows x 6 columns]>

In [28]:
df = pd.DataFrame(num_arr, index=dates, columns=['A','B','C','D','E','F'])
print("Head\n",df)
print('\nTail',df)

Head
                                    A         B  ...         E         F
2021-09-03 16:14:37.713060 -1.892565  1.524449  ... -1.352800  0.640516
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086
2021-09-08 16:14:37.713060 -0.634486 -0.165279  ...  0.745678  0.385819

[6 rows x 6 columns]

Tail                                    A         B  ...         E         F
2021-09-03 16:14:37.713060 -1.892565  1.524449  ... -1.352800  0.640516
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086
2021-09-08 16:14:37.713060 -0.634486 -0.165279  ...  0.745678  0.385819

[6 rows x 6 columns]

2. Use the above table and,
      - find transpose of your data.
      - sort the index in the descending order of the date.

In [29]:
#please provide your answer below this line.
df.T

   2021-09-03 16:14:37.713060  ...  2021-09-08 16:14:37.713060
A                   -1.892565  ...                   -0.634486
B                    1.524449  ...                   -0.165279
C                   -1.866734  ...                   -0.862208
D                    1.442727  ...                    0.640637
E                   -1.352800  ...                    0.745678
F                    0.640516  ...                    0.385819

[6 rows x 6 columns]

In [30]:
df.sort_index(ascending = False)

                                   A         B  ...         E         F
2021-09-08 16:14:37.713060 -0.634486 -0.165279  ...  0.745678  0.385819
2021-09-07 16:14:37.713060 -0.340701  0.146048  ... -0.372412  0.631086
2021-09-06 16:14:37.713060  1.077082  1.449324  ...  0.942669 -0.856975
2021-09-05 16:14:37.713060 -1.104377  0.036352  ...  0.456907  1.061544
2021-09-04 16:14:37.713060 -0.029508 -0.077453  ... -0.629272  1.548458
2021-09-03 16:14:37.713060 -1.892565  1.524449  ... -1.352800  0.640516

[6 rows x 6 columns]