<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [76]:
lwr = int(input("Enter the lower range:"))
upr = int(input("Enter the upper range:"))
for i in range (lwr,upr+1):
  if (i%7==0 and i%11==0):
    print(i)

Enter the lower range:1000
Enter the upper range:2000
1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [75]:
n = 3
  
for i in range(0,n+1):
  for j in range(0,n+1-i):
    print(" ",end='')
  for k in range(1,i+1):
    print("#",end='')
  print("")

   #
  ##
 ###

In [59]:
def pypart2(n):
  k = 2*n-2
  for i in range(0, n):
    for j in range(0, k):
      print(end=" ")
    k = k-2
    for m in range(0, i+1):
      print(" #",end="")
    print("\r")
    
n= 3
pypart2(n)

     #
   # #
 # # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [95]:
lists = ["apple", "orange", "apple", "banana"]
for i,item in enumerate(lists):
 if item == "apple":
  lists[i]="grapes"
print(lists)

['grapes', 'orange', 'grapes', 'banana']