<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print('DataFrame\n', df1)
print('\nBoolean mask value is nan\n', df1.isnull())
print('\nRemove the row with missing data\n', df1.dropna())

DataFrame
                    A         B         C         D   F    E
2021-01-01 -0.424619 -0.204256  0.332415  0.516727 NaN  1.0
2021-01-02  0.082943  1.015899 -0.786932  0.701309 NaN  1.0
2021-01-03  0.752439 -1.383334 -0.072613  1.265645 NaN  NaN
2021-01-04  0.608771  0.836323 -1.429105 -1.048750 NaN  NaN

Boolean mask value is nan
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

Remove the row with missing data
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print('DataFrame\n', df1)
print('\nfill the missing data with 20\n', df1.fillna(value=20))

DataFrame
                    A         B         C         D   F    E
2021-01-01  0.717509 -0.517996 -1.236191  0.545346 NaN  1.0
2021-01-02  0.107914  1.257864  1.429534 -0.522861 NaN  1.0
2021-01-03 -0.362756  2.409656 -0.727474 -0.535289 NaN  NaN
2021-01-04  0.068276  1.485078 -0.325326  0.211963 NaN  NaN

fill the missing data with 20
                    A         B         C         D     F     E
2021-01-01  0.717509 -0.517996 -1.236191  0.545346  20.0   1.0
2021-01-02  0.107914  1.257864  1.429534 -0.522861  20.0   1.0
2021-01-03 -0.362756  2.409656 -0.727474 -0.535289  20.0  20.0
2021-01-04  0.068276  1.485078 -0.325326  0.211963  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [18]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line

          0         1         2         3
0  1.144171 -2.018997 -0.246417 -1.505632
1 -0.406076  1.427305 -1.635500 -1.198228
2 -0.494575  0.104042  0.161379  2.400758
3  0.163037  0.523466 -0.414406  1.686186
4 -1.940476 -0.613052  1.726844 -0.059741
5  0.137772 -0.242878  1.018272  1.217196
6  1.297092  0.461597  0.366365  0.948211
7 -0.818451 -0.700173 -0.952825 -0.699985
8 -0.514280  0.669096 -0.119963  0.825198
9  1.632310  0.203041 -1.629530  0.949321

In [23]:
#break the data in to pieces from 0 t0 2 ,3 t0 7
print(df.iloc[0:3])
print(df.iloc[3:8])

          0         1         2         3
0  1.144171 -2.018997 -0.246417 -1.505632
1 -0.406076  1.427305 -1.635500 -1.198228
2 -0.494575  0.104042  0.161379  2.400758
          0         1         2         3
3  0.163037  0.523466 -0.414406  1.686186
4 -1.940476 -0.613052  1.726844 -0.059741
5  0.137772 -0.242878  1.018272  1.217196
6  1.297092  0.461597  0.366365  0.948211
7 -0.818451 -0.700173 -0.952825 -0.699985

In [26]:
#concatenate the pieces
pd.concat([df[:3],df[3:8]])

          0         1         2         3
0  1.144171 -2.018997 -0.246417 -1.505632
1 -0.406076  1.427305 -1.635500 -1.198228
2 -0.494575  0.104042  0.161379  2.400758
3  0.163037  0.523466 -0.414406  1.686186
4 -1.940476 -0.613052  1.726844 -0.059741
5  0.137772 -0.242878  1.018272  1.217196
6  1.297092  0.461597  0.366365  0.948211
7 -0.818451 -0.700173 -0.952825 -0.699985

In [29]:
#concatenate the pieces along axis 1
pd.concat([df[:3],df[3:8]],axis=1)

          0         1         2  ...         1         2         3
0  1.144171 -2.018997 -0.246417  ...       NaN       NaN       NaN
1 -0.406076  1.427305 -1.635500  ...       NaN       NaN       NaN
2 -0.494575  0.104042  0.161379  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.523466 -0.414406  1.686186
4       NaN       NaN       NaN  ... -0.613052  1.726844 -0.059741
5       NaN       NaN       NaN  ... -0.242878  1.018272  1.217196
6       NaN       NaN       NaN  ...  0.461597  0.366365  0.948211
7       NaN       NaN       NaN  ... -0.700173 -0.952825 -0.699985

[8 rows x 8 columns]

In [31]:
#label each as 'a' and 'b' respectively and perform concatenation
a = df[1:3]
b = df[3:8]
pd.concat([a,b])

          0         1         2         3
1 -0.406076  1.427305 -1.635500 -1.198228
2 -0.494575  0.104042  0.161379  2.400758
3  0.163037  0.523466 -0.414406  1.686186
4 -1.940476 -0.613052  1.726844 -0.059741
5  0.137772 -0.242878  1.018272  1.217196
6  1.297092  0.461597  0.366365  0.948211
7 -0.818451 -0.700173 -0.952825 -0.699985