<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [4]:
#please provide your answer below this line.
import pandas as pd
import numpy as np
dates = pd.date_range('today',periods=6)
num_arr = np.random.randn(6,6)
df = pd.DataFrame(num_arr, index=dates, columns=['A','B','C','D','E','F'])
df

                                   A         B  ...         E         F
2021-09-03 16:25:26.848635  0.738072  0.051118  ... -0.986561 -0.175852
2021-09-04 16:25:26.848635 -0.215496  0.686058  ...  0.474952  0.224594
2021-09-05 16:25:26.848635 -0.163435  0.489904  ...  1.602671  0.464752
2021-09-06 16:25:26.848635 -1.315387  0.209551  ...  1.201983  0.888036
2021-09-07 16:25:26.848635 -0.380552  1.540615  ... -1.350002  0.743580
2021-09-08 16:25:26.848635 -0.047787  0.047109  ...  0.226898 -0.395860

[6 rows x 6 columns]

In [5]:
#slice its first three rows and display
df[:3]

                                   A         B  ...         E         F
2021-09-03 16:25:26.848635  0.738072  0.051118  ... -0.986561 -0.175852
2021-09-04 16:25:26.848635 -0.215496  0.686058  ...  0.474952  0.224594
2021-09-05 16:25:26.848635 -0.163435  0.489904  ...  1.602671  0.464752

[3 rows x 6 columns]

In [6]:
#slice its odd indexed rows
df[::2]

                                   A         B  ...         E         F
2021-09-03 16:25:26.848635  0.738072  0.051118  ... -0.986561 -0.175852
2021-09-05 16:25:26.848635 -0.163435  0.489904  ...  1.602671  0.464752
2021-09-07 16:25:26.848635 -0.380552  1.540615  ... -1.350002  0.743580

[3 rows x 6 columns]

In [9]:
#display the dates from 1st postion to 4 th position
df.index[:4]

DatetimeIndex(['2021-09-03 16:25:26.848635', '2021-09-04 16:25:26.848635',
               '2021-09-05 16:25:26.848635', '2021-09-06 16:25:26.848635'],
              dtype='datetime64[ns]', freq='D')

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [10]:
#please provide your answer below thins line.
import pandas as pd
import numpy as np
dates = pd.date_range('today',periods=6)
num_arr = np.random.randn(6,6)
df = pd.DataFrame(num_arr, index=dates, columns=['A','B','C','D','E','F'])
df

                                   A         B  ...         E         F
2021-09-03 16:29:59.011610 -1.683997 -2.544879  ... -0.532673  0.549797
2021-09-04 16:29:59.011610 -0.304360  0.123223  ... -0.899609  0.474777
2021-09-05 16:29:59.011610  1.849958 -0.019161  ... -1.139383 -0.064853
2021-09-06 16:29:59.011610 -0.002248  0.647990  ...  0.109782  2.289214
2021-09-07 16:29:59.011610  0.841765  1.848217  ...  0.342196 -0.224352
2021-09-08 16:29:59.011610 -0.679132 -0.614846  ...  0.209010 -1.471923

[6 rows x 6 columns]

In [19]:
#Dislplay the index from the 1 to 3 date and the columns A and B of respective data
df[['A','B']][:3]

                                   A         B
2021-09-03 16:29:59.011610 -1.683997 -2.544879
2021-09-04 16:29:59.011610 -0.304360  0.123223
2021-09-05 16:29:59.011610  1.849958 -0.019161

In [23]:
#Display the datas at the 3rd index
df.iloc[[3]]

                                   A        B  ...         E         F
2021-09-06 16:29:59.011610 -0.002248  0.64799  ...  0.109782  2.289214

[1 rows x 6 columns]

In [21]:
#Display datas from 2nd to 5th
df[1:5]

                                   A         B  ...         E         F
2021-09-04 16:29:59.011610 -0.304360  0.123223  ... -0.899609  0.474777
2021-09-05 16:29:59.011610  1.849958 -0.019161  ... -1.139383 -0.064853
2021-09-06 16:29:59.011610 -0.002248  0.647990  ...  0.109782  2.289214
2021-09-07 16:29:59.011610  0.841765  1.848217  ...  0.342196 -0.224352

[4 rows x 6 columns]

In [24]:
#Display the datas from the index 1,2,4 and the column 0 and 2
df.iloc[[1,2,4],[0,2]]

                                   A         C
2021-09-04 16:29:59.011610 -0.304360  2.121411
2021-09-05 16:29:59.011610  1.849958  2.225744
2021-09-07 16:29:59.011610  0.841765  0.081090