<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
#please type your code below this line.
group = df.groupby('A')
print('\n Sum of groups\n',group.sum())
print('\n 3 least elements from the column D\n',df['D'].nsmallest(3) )
print("\n 3 largest elements from the Column D belongs to group 'bar'\n", group['D'].get_group('bar').nlargest(3))

     A      B         C         D
0  foo    one  0.544807  0.781345
1  bar    one  1.059736 -0.040922
2  foo    two -0.375197  0.280356
3  bar  three  0.390851  0.244805
4  foo    two  1.073578  0.093173
5  bar    two  0.331834 -0.643560
6  foo    one -0.748867  0.115500
7  foo  three  0.541349  0.002883

 Sum of groups
             C         D
A
bar  1.782421 -0.439677
foo  1.035670  1.273257

 3 least elements from the column D
 5   -0.643560
1   -0.040922
7    0.002883
Name: D, dtype: float64

 3 largest elements from the Column D belongs to group 'bar'
 3    0.244805
1   -0.040922
5   -0.643560
Name: D, dtype: float64

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv('csvFile.csv')
print("\n CSV File\n", pd.read_csv, ('csvFile.csv'))
df.to_excel('excelFile.xlsx')
print("\n In Excel File \n", pd.read_excel('excelFile.xlsx'))

 CSV File
 <function read_csv at 0x7fe1c76725f0> csvFile.csv

 In Excel File
    Unnamed: 0    A      B         C         D
0           0  foo    one -1.251573 -0.288438
1           1  bar    one  0.545633  0.711347
2           2  foo    two  0.089269 -0.876096
3           3  bar  three -0.636257  1.765274
4           4  foo    two  0.703396 -0.631372
5           5  bar    two  1.339994  0.152698
6           6  foo    one  0.281517 -1.668368
7           7  foo  three  0.000787 -0.449861