<a href="https://colab.research.google.com/github/Mariyathk/Learn.PY-01/blob/main/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [62]:
list = [23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
even = [78,90,22,56,12,32]
values = [23, 45, 25, 78, 90, 99, 12, 9, 75, 32]
num = [even,values]
print(num)

[[78, 90, 22, 56, 12, 32], [23, 45, 25, 78, 90, 99, 12, 9, 75, 32]]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [26]:
l = ['a','e','i','o','u']
i = [l.upper() for l in ['a','e','i','o','u']]
print(i)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [52]:
fruits = ("banana", "cherry", "apple", "grapes")
fruits = ('yellow','red','green')
print('yellow =', yellow ,"red =",[red] ,"green =",green)

yellow = banana red = [('cherry', 'apple')] green = grapes